/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import 'simplelightbox/dist/simple-lightbox.min.css';
@import url('./gallery.css');
@import url('./form.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
