/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 40px;
  text-align: center;
}
.main-list {
  padding: 40px;
}
.list-item:not(:last-child) {
  margin-bottom: 10px;
}
.list-item a {
  padding: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.list-item a:hover {
  color: #007bff;
}
